<STYLE>
<!--
body		{ background: #FFFFFF;  
		font-size: 70%;  		
		font-family: Verdana, Arial, Helvetica, MS Sans Serif  }

p		{ margin-top: .6em; margin-bottom: .6em	}
p.bigfix	{ margin-top: -.4em; margin-bottom: 0em;}
p.margin	{ margin-left: 2em; margin-top: -1.75em;}	

table	{ font-size: 100%;
		margin-top: 1em; 
		margin-bottom: 1em }


h1		{ font-size: 145%; 
	          margin-bottom: .5em; }

h2		{ font-size: 125%;  
		margin-top: 1.5em;
		margin-bottom: .5em;  }

h3		{ font-size: 110%; 
		margin-top: 1.2em;  
		margin-bottom: .5em;  }

h4		{font-size: 105%;
		margin-top: 1.2em;
		margin-bottom: .5em  }

h5		{font-size: 100%;
		margin-top: 1.2em;
		margin-bottom: .5em }

big		{  font-weight: bold; 
		font-size: 105%;  }
		
p.proclabel		{ font-weight: bold;
				font-size: 100%;
				margin-top: 1.2em }  	



ol		{ margin-top: .6em; margin-bottom: 0em; margin-left: 4em }		
ul		{ margin-top: .6em; margin-bottom: 0em }	
ol ul	{ list-style: disc; margin-top: .6em  }
ul ul	{ list-style: disc }

li		{ margin-bottom: .7em;
		margin-left: -2em }
		
		

/*	TERM AND DEFINITION TAGS	*/

dl		{ margin-top: 0em }

dt		{ font-weight: bold;
		margin-top: 1em;
		margin-left: 1.5em;  }


dl li	{ margin-bottom: .7em }	

dl dl	{  margin-top: 0em;
		margin-left: 0em  }	


						
a:hover {font-weight: bold; }



-->
</STYLE>
